In [1]:
# 模块导入
import pandas as pd

In [3]:
""" 数据说明
   
    test.xlsx:

    date：日期
    group：组别（控制组/实验组）
    requests：订单请求数
    gmv：成交总额
    coupon per trip：每单优惠券金额
    trips：订单数
    canceled requests：取消请求数

    city.xlsx:

    date：日期
    hour：时点
    requests：请求数
    trips：订单数
    supply hours：可服务时长
    average minutes of trips：平均订单时长（分钟）
    pETA：顾客预计等待时长
    aETA：顾客实际等待时长
    utiliz：司机在忙率

"""

# 读取数据
city_df = pd.read_excel('city.xlsx')
city_df.head(2)

,date,hour,requests,trips,supply hours,average minutes of trips,pETA,aETA,utiliz
0,2013-09-01,11,79,55,42.63,20.43,5.51,7.19,0.479240
1,2013-09-01,12,73,41,36.43,15.53,5.48,8.48,0.426297

In [6]:
# 计算出总体的 平均顾客实际等待时长
wait_time_mean = city_df['aETA'].mean()
print('平均顾客实际等待时长:{:.2f}分钟'.format(wait_time_mean))

平均顾客实际等待时长:7.20分钟